body{
	background:grey;
	font-family:Abel, sans-serif;
	color:white;
}
.resource{
	border: white double 2px;
    width: 150px;
    /* float: left; */
    height: 86px;
	border-radius:5px;
}
.resourceCount{
    position:relative;
    text-align:right;
    float:right;
    bottom:83px;
    right:2px;
}
.button{
	background:black;
	color:white;
	border-radius:5px;
	border-style:double;
	z-index:100;
	outline:none;
}
.button:hover{
	border-color:yellow;
}
.button:active{
	border-color:yellow;
}
.button:focus{
	
}
.process2{
	position: relative;
    top: 31px;
}
.process1,.process2,.think{
	width:100px;
	position: relative;
    background: transparent;
    color: grey;
}
.smeltProgress0{
	width: 23px;
    height: 15px;
    background: yellow;
	pointer-events: none;
	position: absolute;
    top: 3px;
    border-radius: 5px;
	left:3px;
}
.smeltProgress1{
	width: 23px;
    height: 15px;
    background: yellow;
	pointer-events: none;
	position: absolute;
    top: 3px;
    border-radius: 5px;
	left:27px;
}
.smeltProgress2{
	width: 23px;
    height: 15px;
    background: yellow;
	pointer-events: none;
	position: absolute;
    top: 3px;
    border-radius: 5px;
	left:51px;
}
.smeltProgress3{
	width: 23px;
    height: 15px;
    background: yellow;
	pointer-events: none;
	position: absolute;
    top: 3px;
    border-radius: 5px;
	left:75px;
}
.planeProgress0{
	width: 23px;
    height: 15px;
    background: yellow;
	pointer-events: none;
	position: absolute;
    top:118px;
    border-radius: 5px;
	left:3px;
}
.planeProgress1{
	width: 23px;
    height: 15px;
    background: yellow;
	pointer-events: none;
	position: absolute;
    top:118px;
    border-radius: 5px;
	left:27px;
}
.planeProgress2{
	width: 23px;
    height: 15px;
    background: yellow;
	pointer-events: none;
	position: absolute;
    top:118px;
    border-radius: 5px;
	left:51px;
}
.planeProgress3{
	width: 23px;
    height: 15px;
    background: yellow;
	pointer-events: none;
	position: absolute;
    top:118px;
    border-radius: 5px;
	left:75px;
}
.info{
	display:none;
	position: absolute;
    background: black;
    z-index: 1000;
    color: white;
    width: max-content;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.thinkProgress{
	width: 23px;
    height: 15px;
    background: yellow;
	pointer-events: none;
	position: absolute;
	border-radius: 5px;
	top: 361px;
}
.thinkProgress0{
	left:69px;
}
.thinkProgress1{
	left:93px;
}
.thinkProgress2{
	left:117px;
}
.thinkProgress3{
	left:141px;
}
.thinkProgress4{
	left:165px;
}
.thinkProgress5{
	left:189px;
}
.thinkProgress6{
	left:213px;
}
.thinkProgress7{
	left:237px;
}
.thinkProgress8{
	left:261px;
}
.thinkProgress9{
	left:285px;
}
.thinkProgress10{
	left:309px;
}
.thinkProgress11{
	left:333px;
}
#game{
	width:800px;
	height:800px;
	background:black;
}
#gatherWrapper{
	top: 91px;
    position: absolute;
	float:left;
	z-index:100;
}
#rawWrapper{
    float: left;
}
#processedWrapper{
    float: left;
	position:relative;
	left:100px;
}
#woodWrapper,#plankWrapper,#buildingTownWrapper{
    top: 25px;
    position: relative;
}
#resourceWrapper,#buttonWrapper{
    position: relative;
}
#processWrapper{
	display: inline-grid;
    left: 154px;
	top:3px;
    position: absolute;
	z-index:100;
}
#smeltProgress10,#smeltProgress11,#smeltProgress12,#smeltProgress13{
    top:24px;
}
#smeltProgress20,#smeltProgress21,#smeltProgress22,#smeltProgress23{
	top:45px;
}
#smeltProgress30,#smeltProgress31,#smeltProgress32,#smeltProgress33{
	top:66px;
}
#planeProgress10,#planeProgress11,#planeProgress12,#planeProgress13{
    top:139px;
}
#planeProgress20,#planeProgress21,#planeProgress22,#planeProgress23{
	top:160px;
}
#planeProgress30,#planeProgress31,#planeProgress32,#planeProgress33{
	top:181px;
}
#buildingWrapper{
	position: absolute;
    left: 600px;
}
#buyCraftingWrapper,#buyTownWrapper{
	display:inline-grid;
	position: absolute;
}
#buyCraftingWrapper{
	/* left: 540px; */
    top: 3px;
}
#buyTownWrapper{
    /* left: 540px; */
    top: 117px;
}
#buildingBuyWrapper{
	position:relative;
	left:442px;
}
#buyMine:hover +#mineInfo{
	display:block;
}
#mineInfo{
    right: 50px;
    top: 10px;
}
#buyRefinery:hover +#refineryInfo{
	display:block;
}
#refineryInfo{
	right:50px;
	top:30px;
}
#buyYard:hover +#yardInfo{
	display:block;
}
#yardInfo{
	right:50px;
	top:50px;
}
#buySaw:hover +#sawInfo{
	display:block;
}
#sawInfo{
	right:50px;
	top:70px;
}
#buyTavern:hover +#tavernInfo{
	display:block;
}
#tavernInfo{
	right:50px;
	 top: 10px;
}
#buyHostel:hover +#hostelInfo{
	display:block;
}
#hostelInfo{
	right:50px;
	top:30px;
}
#buyBrothel:hover +#brothelInfo{
	display:block;
}
#brothelInfo{
	right:50px;
	top:50px;
}
#buyMarket:hover +#marketInfo{
	display:block;
}
#marketInfo{
	right:50px;
	top:70px;
}
#resetButton{
	position: fixed;
	top: 785px;
    left: 10px;
}
#GoBack{
    position: fixed;
    top: 785px;
    left: 60px;
}
#thinkButton{
	top: 350px;
    right: 250px;
    width: 293px;
}
.locked{
	display:none;
}