body{
	background:#2d2d2d;
	font-family:Abel, sans-serif;
	color:white;
	--progress-color:#FFEB3B;
	width: 624px;
    height: 362px;
	/* background:black; */
	margin: 0px;
	
}
.resource{
	border: white double 2px;
    width: 150px;
    height: auto;
	border-radius:5px;
}
.resourceCount{
    position: absolute;
    text-align: right;
    bottom: inherit;
    right: 2px;
    float: right;
    top: 1px;

}
.button{
	background:black;
	color:white;
	border-radius:5px;
	border-style:double;
	z-index:1;
	outline:none;
	width: fit-content;
    margin-top: 1px;
    height: 21px;
	position: inherit;
}
.button:hover{
	border-color:var(--progress-color);
}
.button:active{
	border-color:var(--progress-color);
}
.button:focus{
	
}
.speed{
	position: absolute;
    font-size: 10px;
    color: var(--progress-color);
    left: 105px;
    width: 100px;
    top: 5px;
}
.process1,.process2,.think,.gather1,.gather2{
	width:101px;
    background: transparent;
    color:darkgray;
}
.genericProgress{
	top: 4px;
	width: 23px;
    height: 15px;
    background:var(--progress-color);
	pointer-events: none;
	position: absolute;
    bottom: 3px;
    border-radius: 5px;
	z-index:0;
}
.smeltProgress0{
	left:3px;
}
.smeltProgress1{
	left:27px;
}
.smeltProgress2{
	left:51px;
}
.smeltProgress3{
	left:75px;
}
.planeProgress0{
	left:3px;
}
.planeProgress1{
	left:27px;
}
.planeProgress2{
	left:51px;
}
.planeProgress3{
	left:75px;
}
.thinkProgress0{
	left:3px;
}
.thinkProgress1{
	left:27px;
}
.thinkProgress2{
	left:51px;
}
.thinkProgress3{
	left:75px;
}
.thinkProgress4{
	left:99px;
}
.thinkProgress5{
	left:123px;
}
.thinkProgress6{
	left:147px;
}
.thinkProgress7{
	left:171px;
}
.thinkProgress8{
	left:195px;
}
.thinkProgress9{
	left:219px;
}
.thinkProgress10{
	left:243px;
}
.thinkProgress11{
	left:267px;
}
.chopProgress0{
	left:3px;
}
.chopProgress1{
	left:27px;
}
.chopProgress2{
	left:51px;
}
.chopProgress3{
	left:75px;
}
.mineProgress0{
	left:3px;
}
.mineProgress1{
	left:27px;
}
.mineProgress2{
	left:51px;
}
.mineProgress3{
	left:75px;
}
.info{
	display:none;
	position: absolute;
    background: black;
    z-index: 1000;
    color: white;
    width: max-content;
    border: 2px solid var(--progress-color);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
	right: 50px;
    top: 5px;
}
.info2{
	left: 5px;
    top: 25px;
}
.info3{
	top: -30px;
    left: 120px;
}
.unlockable{
	width: 133px;
    margin-bottom: 1px;
}
.bottomBar{
	position: fixed;
	top: 335px;
}
.infoWrapper{
	position:relative;
}
.unlockWrapper{
	float: left;
	position:relative;
}
#game{
	width: 624px;
    height: 362px;
	background:black;
    position: absolute;
}
#mineWrapper{
	position:absolute;
	top:0px;
	pointer-events: all;
}
#chopWrapper{
	position:absolute;
	top:111px;
	pointer-events: all;
}
#rawWrapper{
    position:absolute;
	pointer-events: none;
}
#processedWrapper{
	position:absolute;
	left:258px;
	top: 23px;
}
#woodWrapper{
	position:absolute;
	top:134px;
}
#oreWrapper{
	position: relative;
    top: 23px;
}
#plankWrapper{
    top: 111px;
    position: absolute;
}
#barCount{
    right: 3px;
    top: 2px;
}
#buildingTownWrapper{
	top: 25px;
    position: relative;
}
#resourceWrapper,#buttonWrapper{
    position: absolute;
}
#processWrapper{
	display: inline-grid;
    left: 156px;
	top:0px;
    position: absolute;
	z-index:100;
}

#buildingWrapper{
	position: absolute;
    left: 470px;
	top: 21px;
}
#buyCraftingWrapper,#buyTownWrapper{
	display: inline-grid;
    position: absolute;
    float: left;
    left: -50px;
    top: 0px;
}
#buyCraftingWrapper{
	left:-48px;
}
#buyTownWrapper{
    top: -3px;
}
#buildingBuyWrapper{
	position:absolute;
	left:420px;
}
#buyMine:hover +#mineInfo{
	display:block;
}
#buyRefinery:hover +#refineryInfo{
	display:block;
}
#buyYard:hover +#yardInfo{
	display:block;
}
#buySaw:hover +#sawInfo{
	display:block;
}
#buyTavern:hover +#tavernInfo{
	display:block;
}
#buyHostel:hover +#hostelInfo{
	display:block;
}
#buyBrothel:hover +#brothelInfo{
	display:block;
}
#buyMarket:hover +#marketInfo{
	display:block;
}
#buyBank:hover +#bankInfo{
	display:block;
}
#buyLab:hover +#labInfo{
	display:block;
}
#unlockButton0:hover +#unlockInfo0{
	display:block;
}
#unlockButton1:hover +#unlockInfo1{
	display:block;
}
#unlockButton2:hover +#unlockInfo2{
	display:block;
}
#unlockButton3:hover +#unlockInfo3{
	display:block;
}
#unlockButton4:hover +#unlockInfo4{
	display:block;
}
#unlockButton5:hover +#unlockInfo5{
	display:block;
}
#unlockButton6:hover +#unlockInfo6{
	display:block;
}
#unlockButton7:hover +#unlockInfo7{
	display:block;
}
#unlockButton8:hover +#unlockInfo8{
	display:block;
}
#unlockButton9:hover +#unlockInfo9{
	display:block;
}
#unlockButton10:hover +#unlockInfo10{
	display:block;
}
#unlockButton11:hover +#unlockInfo11{
	display:block;
}
#unlockButton12:hover +#unlockInfo12{
	display:block;
}
#unlockButton13:hover +#unlockInfo13{
	display:block;
}
#unlockButton14:hover +#unlockInfo14{
	display:block;
}
#unlockButton15:hover +#unlockInfo15{
	display:block;
}
#resetButton{
}
#GoBack{
    left: 48px;
}
#thinkButton{
    width: 293px;
}
#researchWrapper{
	position:absolute;
	top: 222px;
}
#thinkShopWrapper{
	width: 408px;
    height: 92px;
	position: relative;
    /* overflow-y: overlay; */
	border:none;
}
#thinkShopPoints{
	position: absolute;
    bottom: 0px;
    right: 0px;
}
#thinkWrapper{
	position: relative;
    top: 0px;
}
#thinkSpeed{
	left: 297px;
}
#plane0Wrapper,#plane1Wrapper,#plane2Wrapper,#plane3Wrapper{
	position:relative;
}
#smelt0Wrapper,#smelt1Wrapper,#smelt2Wrapper,#smelt3Wrapper{
	position:relative;
}
#planeMasterWrapper{
	top: 134px;
    position: absolute;
}
#smeltMasterWrapper{
	position: absolute;
    top: 23px;
}
#townCraftWrapper{
	bottom:126px;
}
#colorButton{
    left: 178px;
}
#planeInfo,#smeltInfo{
	position: absolute;
    text-align: center;
    top: -10px;
    left: 44px;
    font-size: 10px;
    color: var(--progress-color);
}
.locked{
	display:none;
}